@{
    ViewData["Title"] = "Country Add/Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


@model LOC_CountryModel

@*<div class="row">
    <div class="col-md-12">
        <h2>@TempData["CountryInsertMsg"]</h2>
        <form method="post" asp-controller="LOC_Country" asp-action="Save">
            @Html.HiddenFor(x=>x.CountryID)
            <div class="from-group">
                <label>Country Name</label>
                <input type="text" class="from-Control" placeholder="Enter Country Name" asp-for="CountryName" />
            </div>
            <div class="from-group">
                <label>Country Code</label>
                <input type="text" class="from-Control" placeholder="Enter Country Code" asp-for="CountryCode" />
            </div>
            <div class="from-group">
                <label>Creation Date</label>
                <input type="date" class="from-Control" placeholder="Enter Creation Date" asp-for="CreationDate" />
            </div>
            <div class="from-group">
                <label>Modification Date</label>
                <input type="date" class="from-Control" placeholder="Enter Modification Date" asp-for="Modification" />
            </div>
            </hr>
            <input type="submit" />
            <button asp-controller="LOC_Country" asp-action="Add">Clear</button>
            <button asp-controller="LOC_Country" asp-action="Index">Back to CountryList</button>
        </form>
    </div>

</div>*@

<style>
    .btn.btn-a {
        text-decoration: none;
        background-color: #000000;
        color: #ffffff;
    }

        .btn.btn-a:hover {
            background-color: #2eca6a;
            color: #000000;
        }

    .btn.btn-b {
        text-decoration: none;
        background-color: #000000;
        color: #ffffff;
    }

        .btn.btn-b:hover {
            background-color: rgba(255,0,0, 1);
            color: #ffffff;
        }
</style>


<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">Country Add Edit</h1>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-action="Index" asp-controller="LOC_Country"><i class="fa-regular fa-address-book"></i> Country List</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Country Add Edit
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <hr />
        <br />
        <br />
    </div>


    <div class="container">
        <h5 style="color:green"><label>@TempData["CountryInsertMsg"]</label></h5>
        <br />

        <form method="post" asp-controller="LOC_Country" asp-action="Save">
            @Html.HiddenFor(x=>x.CountryID)
            <div class="row">
                <div class="col-md-2">
                    <span style="color: #ff0000">*</span>
                    Country Name :-
                </div>
                <div class="col-md-3">
                    <input type="text" placeholder="Enter Country Name" asp-for="CountryName" class="form-control" />
                    <span asp-validation-for="CountryName" class="text-danger"></span>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-2">
                    <span style="color: #ff0000">*</span>
                    Country Code :-
                </div>
                <div class="col-md-3">
                    <input type="text" placeholder="Enter Country Code" asp-for="CountryCode" class="form-control" />
                    <span asp-validation-for="CountryCode" class="text-danger"></span>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-md-2">
                    <span style="color: #ff0000">*</span>
                    Creation Date :-
                </div>
                <div class="col-md-3">
                    <input type="date" placeholder="Enter Creation Date" asp-for="CreationDate" class="form-control" />
                    <span asp-validation-for="CreationDate" class="text-danger"></span>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-2">
                    <span style="color: #ff0000">*</span>
                    Modification Date :-
                </div>
                <div class="col-md-3">
                    <input type="date" placeholder="Enter Modification Date" asp-for="Modification" class="form-control" />
                    <span asp-validation-for="Modification" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-1">
                    <input type="submit" value="Save" asp-controller="LOC_Country" asp-action="Save" class="btn btn-a" />
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-1">
                    <input type="submit" value="Cancel" asp-controller="LOC_Country" asp-action="Index" class="btn btn-b" />
                </div>
            </div>
        </form>

    </div>
</section>

@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}