@{
    ViewData["Title"] = "State Add/Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


@model LOC_StateModel
 
<style>
    .btn.btn-a {
        text-decoration: none;
        background-color: #000000;
        color: #ffffff;
    }
        .btn.btn-a:hover {
            background-color: #2eca6a;
            color: #000000;
        }
    .btn.btn-b {
        text-decoration: none;
        background-color: #000000;
        color: #ffffff;
    }
        .btn.btn-b:hover {
            background-color: rgba(255,0,0, 1);
            color: #ffffff;
        }
</style>

<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h3 class="title-single">State Add Edit</h3>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-action="Index" asp-controller="LOC_State"><i class="fa-regular fa-address-book"></i> State List</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            State Add Edit
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <hr />
       
    </div>


    <div class="container">
        <h5 style="color:green"><label>@TempData["CountryInsertMsg"]</label></h5>
        <br />
        <form method="post" asp-controller="LOC_State" asp-action="Save">
            @Html.HiddenFor(x=>x.StateID)
            <div class="row">

                <div class="col-md-2">
                    <span style="color: #ff0000">*</span>
                    Country :-
                </div>
                <div class="col-md-3">
                    <select asp-for="CountryID" asp-items="@(new SelectList(ViewBag.CountryList,"CountryID","CountryName"))" class="form-control">
                        <option value="">Select Country</option>
                    </select>
                    <span asp-validation-for="CountryID" class="text-danger"></span>

                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-2">
                    <span style="color: #ff0000">*</span>
                    State Name :-
                </div>
                <div class="col-md-3">
                    <input type="text" placeholder="Enter State Name" asp-for="StateName" class="form-control" />
                    <span asp-validation-for="StateName" class="text-danger"></span>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-md-2">
                    <span style="color: #ff0000">*</span>
                    State Code :-
                </div>
                <div class="col-md-3">
                    <input type="text" placeholder="Enter State Code" asp-for="StateCode" class="form-control" />
                    <span asp-validation-for="StateCode" class="text-danger"></span>

                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-2">
                    <span style="color: #ff0000">*</span>
                    Creation Date :-
                </div>
                <div class="col-md-3">
                    <input type="date" placeholder="Enter CreationDate Date" asp-for="CreationDate" class="form-control" />
                    <span asp-validation-for="CreationDate" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <span style="color: #ff0000">*</span>
                    Modification Date:-
                </div>
                <div class="col-md-3">
                    <input type="date" placeholder="Enter Modification Date" asp-for="ModificationDate" class="form-control" />
                    <span asp-validation-for="ModificationDate" class="text-danger"></span>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-2">
                    @*<span style="color: #ff0000">*</span>*@
                    @*Creation *@
                </div>
                <div class="col-md-3">
                    @*<input type="date" placeholder="Enter Modification Date" asp-for="CreationDate" class="form-control" />*@
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-1">
                    <input type="submit" value="Save" asp-controller="LOC_State" asp-action="Save" class="btn btn-a" />
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-1">
                    <input type="submit" value="Cancel" asp-controller="LOC_State" asp-action="Index" class="btn btn-b" />
                </div>
            </div>
        </form>

    </div>
</section><!-- End Intro Single-->
@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}